Django==5.2.8 
djangorestframework==3.16.0 
djangorestframework-simplejwt==5.5.0 
django-cloudinary-storage==0.3.0 
cloudinary==1.44.0 
psycopg2-binary==2.9.10 
python-dotenv==1.1.0 
whitenoise==6.12.0 
Pillow==11.2.1 
gunicorn==26.0.0 
asgiref==3.10.0 
sqlparse==0.5.3 
echo dj-database-url==2.3.0 >> requirements.txt